[Desktop Entry]
Name=Phoenix - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=phoenix --open-url %U
Icon=phoenix
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/phoenix;
Keywords=phoenix;
